<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
</head>

<body>
    <div id="index-content">
        <header class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/image 1.png') }}" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('users') }}">Users</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            <h1 class="spine-studio-text">Spine Studio</h1>
            <p>Predictive modeling and AI image analysis for spine surgery</p>
            <a href="javascript:void(0);" class="cta-button" onclick="openPopup()">Get Started</a>
        </main>
        <!-- Popup Modal -->
        <div id="uploadModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closePopup()">&times;</span>
                <h2 class="upload-title">Upload your files</h2>
                <div class="upload-container">
                    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/upload-file"
                        class="upload-form">
                        <div class="upload-box">
                            <input type="file" id="fileInput" name="file" style="display:none;" multiple>
                            <img src="{{ url_for('static', filename='images/Upload cloud.png') }}" alt="cloud"
                                class="cloud-image" onclick="document.getElementById('fileInput').click();">
                            <p>Drop files to upload <br>or <a href="#"
                                    onclick="document.getElementById('fileInput').click(); return false;">browse</a></p>
                        </div>
                        <div class="upload-options">
                            <h3 class="options-title">Options</h3>
                            <div class="options-line"></div>
                            <label for="type-of-imaging">Type of imaging</label>
                            <select id="type-of-imaging" name="type-of-imaging">
                                <option value="CT">CT</option>
                                <option value="MRI">MRI</option>
                                <option value="XR">XR</option>
                            </select>
                            <div class="button-container">
                                <button type="button" class="upload-btn" onclick="handleUploadClick()">Upload
                                    Files</button>
                                <button type="button" class="cancel-btn" onclick="closePopup()">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <iframe id="loading-frame" hidden src="/loading" style="width: 100%; height: 100%; border: none;"></iframe>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>